@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:wght@100..900&display=swap');

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}




.seat button,
.driving-seat {

    max-width: 80px;
    border-radius: 10px;
}

.seat button,
.seat div {
    padding: 10px;
}